:root {
    --background-color: #201f1f;
    --header-txt-color1: #2384e4;
    --header-txt-color:crimson
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}
header {
    padding: 20px;

    .logo {
        color: #fff;

        h4 {
            font-size: 25px;
            padding-bottom: 0px;
            margin-bottom: 0px;
        }

        h6 {
            letter-spacing: 4px;
            padding: 0px;
            color: var(--header-txt-color);
        }
    }

    .pages-links {
        ul {
            display: flex;
            padding: 12px;
            background-color: var(--header-txt-color);
            border-radius: 10px;
            justify-content: space-around;
        }

        li {
            list-style-type: none;

            a {
                color: white;
                text-decoration:none;
            }

        }
    }

    .free-consultancy {
        button {
            border: none;
            background-color: var(--header-txt-color);
            padding: 12px 15px;
            color: white;
            font-weight: 600;
            border-radius: 10px;
        }
    }

}

section {
    padding: 40px 0px;
    color: #fff;
    text-align: center;

    .motive {
        padding: 0px;

        div {
            font-size: 40px;

            h1 {
                font-size: 80px;
                text-transform: capitalize;
                margin: 0px;
                padding: 0px
            }

            padding-bottom:35px;
        }
    }

    .quote {
        p {
            padding: 10px 0px;
            padding-bottom: 16px;
        }
    }

    .view-portfolio {
        button {
            border: none;
            background-color: var(--header-txt-color);
            padding: 15px 15px;
            width: 180px;
            margin: 0px 20px;
            color: white;
            font-weight: 600;
            border-radius: 10px;

        }

        button:last-child {
            background-color: rgb(77, 76, 76);
        }
    }
}

section {

    .technology-quote {
        p {
            padding: 14px 0px;
            padding-bottom: 18px;
        }
    }

    .contact-us {
        button {
            border: none;
            background-color: var(--header-txt-color);
            padding: 15px 15px;
            width: 180px;
            margin: 0px 20px;
            color: white;
            font-weight: 600;
            border-radius: 10px;
        }
    }

    .boxes101 {
        padding: 40px 0px;
        padding-top: 60px;
        height: 100%;

        .box {
            background: #fff;
            padding: 12px;
            border-radius: 10px;
            height: 100%;

            .text {
                height: 20%;
                display: flex;
                justify-content: space-between;

                h3 {
                    color: gray;
                    font-size: 22px;
                    text-align: left;
                    text-transform: capitalize;
                }

                span {
                    display: block;

                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }

            .image {
                height: 80%;

                img {
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
                }
            }
        }
    }
}

.pre {
    text-align: center;

    .pre-center {
        display: flex;
        justify-content: center;

        .pre-work-container {
            padding: 10px;
            color: #000;
            width: 80%;
            margin: 40px 0px;

            .pre-work {
                padding: 16px;
                border-radius: 10px;
                background-color: #fff;
                display: flex;
                width: 100%;

                .pre-desc {
                    width: 50%;
                    padding-right: 10px;

                    h3 {
                        font-size: 25px;
                        text-align: left;
                        font-weight: 400;
                        color: rgb(104, 102, 102);

                        span {
                            display: inline-block;
                            float: right;
                        }

                        padding:10px 0px;
                        border-bottom:1px solid rgb(167, 165, 165);
                    }

                    .pre-work-name {
                        text-align: left;
                        font-size: 45px;
                        border-bottom: none;
                        font-weight: 500;
                        color: #000;

                    }

                    p {
                        font-size: 19px;
                        text-align: justify;
                        padding-right: 10px;
                    }
                }

                .pre-work-img {
                    width: 50%;

                    img {
                        height: 100%;
                        width: 100%;
                        overflow: hidden;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

.core-services {
    .service-showcase {
        padding: 12px;
        border-radius: 10px;
        background: #fff;
        height: 100%;

        .image {
            img {
                height: 100%;
                width: 100%;
                overflow: hidden;
            }

            height:75%;
        }

        .txt {
            height: 20%;
            padding: 18px 0px;

            h3 {
                color: #000;
                text-align: left;
                text-transform: capitalize;
                font-weight: 600;
            }
        }
    }
}

.ready-made-software {
    .software-list {
        margin-top: 40px;
        background: #fff;
        border-radius: 10px;
        padding: 20px;

        .image {
            img {
                height: 100%;
                width: 100%;
                overflow: hidden;
            }
        }

        .txt {
            color: #000;
            text-align: left;

            h3 {
                padding: 8px 0px;
                padding-bottom: 2px;
                font-weight: 500;
                text-transform: capitalize;
            }

            p {
                padding: 7px 0px;
                padding-top: 0px;
                font-weight: 500;
                text-align: justify;
            }

            button {
                color: white;
                background-color: var(--header-txt-color);
                border-radius: 10px;
                padding: 7px 20px;
                border: none;
            }
        }
    }
}

.customer-satisfaction-area {
    .customer-satisfaction {
        margin-top: 30px;
        background-color: #fff;
        padding: 18px;
        border-radius: 12px;
        color: #000;
    }
}


.about {

    .technology {
        text-transform: capitalize;
    }

    .about-desc {
        padding: 30px 0px;

        p {
            font-size: 20px;
        }

        button {

            border: none;
            background-color: var(--header-txt-color);
            padding: 15px 15px;
            width: 180px;
            margin: 0px 20px;
            color: white;
            font-weight: 600;
            border-radius: 10px;
            margin-top: 30px;
        }
    }

}

.bussiness-card {
    padding: 40px 0px;

    .bussiness-card-card {
        padding: 20px;
        border-radius: 12px;
        background-color: #fff;
        width:100%;
        display:flex;
        .txt {
            width:60%;
            h4{
                color:#000;
                text-align:left;
                padding-top:40px;
            }
            h1{
                color:#000;
                text-align:left;
                font-weight:700;
                padding-top:20px;
            }
            button {
                border: none;
                background-color: var(--header-txt-color);
                padding: 15px 15px;
                width: 180px;
                color: white;
                font-weight: 600;
                border-radius: 10px;
                float:left;
                margin:20px 0px;
            }
            
        }
        .txt button:last-child{
            margin:20px 10px; 
            padding:11px 15px;
            display:flex;
            justify-content:space-between;align-items:center;
            i{
                padding:0px;
                margin:0px;
            }
        }

        .image {
            width:40%;
            img {
                height: 100%;
                width: 100%;
                overflow: hidden;
                border-radius: 10px;
            }
        }
    }
}


section{
    padding:85px 0px;
}

footer{
    padding:0px  0px;
    padding-bottom:0px;
    text-align:center;
    margin-top:30px;
    position:absolute;
    width:100%;
    svg{
        position:relative;
    }
    .foot-info{
        color:#fff;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        h5{
            font-size:16px;
        }
        h6{
            font-size:12px;
        }
        .social-icons{
            display:flex;
            justify-content:center;
            align-items:center;
            gap:10px;
            padding:10px 0px;
        }
        h4{
            font-size:18px;
        }
        .foot-links{
            a{
                color:#fff;
                font-size:13px;
                font-weight:500;
                gap:10px;
            }
        }
        h6{
            padding:10px 0px;
        }
    }
}
